{% extends '../layout/tasklist_layout.html' %}

{% block content %}
<div class="container">
	<ul class="alert alert-danger" ng-if="error">
		<li ng-repeat="m in error">[[ m ]]</li>
	</ul>
	<ul class="alert alert-success" ng-if="message">
		<li ng-repeat="m in message">[[ m ]]</li>
	</ul>
	
	<div class="taskarea">
		<h3>[[taskTitle]]</h3>
		<div id="task-form" class="row text-center">
			<form name="AddTaskForm">
				<div class="field">
					<label>Name</label>
					<input type="text" ng-model="formData.name" autofocus required>
					<button type="submit" class="btn btn-primary" ng-click="createTask()" ng-disabled="!AddTaskForm.$valid">Quick Add</button>
				</div>
			</form>
		</div>
	
		<div class="panel panel-default">
		  <div class="panel-heading">
		  	Tasks <span class="label label-info">[[tasks.length]]</span>
		  </div>
		  <div>
		
			  <table class="table">
		      <tr ng-repeat="task in tasks" class="task-completed-[[task.completed]]">
		      	<td width="5%">
	            <div class="circle" style="background-color:[[task.color]]"></div>
		      		<div ng-if="task.completed">
			      	  <img src="/images/check.png" height="50px" width="50px" ng-click="toggleComplete(task._id)">
			      	</div>
		      		<div ng-if="!task.completed">
			      	  <img src="/images/uncheck.png" height="50px" width="50px" ng-click="toggleComplete(task._id)">
			      	</div>
		      	</td>
		        <td width="90%">
		        	[[task.name]]	
			    	</td>
		        <td width="5%">
		        	<span class="icon-trash" ng-click="deleteTask(task._id)">Delete</span>
		        </td>
		      </tr>
			  </table>  
		  </div>
		</div>
	</div>
</div>
{% endblock %}