<footer class="footer">
	<div class="container">
		<small>HaveTodo by Gordon Kwok</small>
		<ul>
			<li><a href="#">About</a></li>
			<li><a href="#">Contact</a></li>
		</ul>
	</div>
</footer>

